<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.shop.repository.mapper.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="memberId">
        insert into member(email, password, name, address, role)
        values (#{email}, #{password}, #{name}, #{address}, #{role})
    </insert>
    <select id="findById" resultType="Member">
        select member_id, email, password, name, address, role from member where member_id = #{id}
    </select>
    <select id="findByEmail" resultType="Member">
        select member_id, email, password, name, address, role from member where email = #{email}
    </select>
    <select id="findAll" resultType="Member">
        select member_id, email, password, name, address, role
        from member
        <where>
            <if test="cond.keyword != null">
                and title like concat('%', #{cond.keyword}, '%')
            </if>
            and role != 'ADMIN'
        </where>
        limit #{cond.offset}, #{cond.pageSize}
        order by create_date desc;
    </select>
    <update id="update">
        update member
        set email = #{email},
            password = #{password},
            name = #{name},
            address = #{address}
        where member_id = #{memberId}
    </update>
    <delete id="delete">
        delete from member where member_id = #{id} and role != 'ADMIN'
    </delete>
    <select id="count" resultType="Integer">
        select count(*) from member where role != 'ADMIN'
    </select>

<!--    <select id="getMemberWithCartAndItems" resultMap="memberWithCartAndItems">-->
<!--        SELECT *, i.name as item_name-->
<!--        FROM member m-->
<!--                 left JOIN cart c ON m.member_id = c.member_id-->
<!--                 left JOIN cart_item ci ON c.cart_id = ci.cart_id-->
<!--                 left JOIN item i ON ci.item_id = i.item_id-->
<!--                 left JOIN item_img ii ON i.item_id = ii.item_id-->
<!--        where m.member_id = #{memberId}-->
<!--    </select>-->

<!--    <resultMap id="memberWithCartAndItems" type="Member">-->
<!--        <id property="memberId" column="member_id"/>-->
<!--        <result property="email" column="email"/>-->
<!--        <result property="password" column="password"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="address" column="address"/>-->
<!--        <result property="role" column="role"/>-->

<!--        &lt;!&ndash; Cart 객체 매핑 &ndash;&gt;-->
<!--        <association property="cart" javaType="springboot.shop.domain.Cart" fetchType="lazy">-->
<!--            <id property="cartId" column="cart_id"/>-->
<!--            <result property="memberId" column="member_id"/>-->
<!--        &lt;!&ndash; CartItem 객체 매핑&ndash;&gt;-->
<!--            <collection property="cartItemList" ofType="springboot.shop.domain.CartItem">-->
<!--                <id property="cartItemId" column="cart_item_id"/>-->
<!--                <result property="cartId" column="cart_id"/>-->
<!--                <result property="count" column="count"/>-->
<!--                &lt;!&ndash; Item 객체 매핑 &ndash;&gt;-->
<!--                <association property="item" javaType="springboot.shop.domain.Item">-->
<!--                    <id property="itemId" column="item_id"/>-->
<!--                    <result property="name" column="item_name"/>-->
<!--                    <result property="price" column="price"/>-->
<!--                    &lt;!&ndash; ItemImg 객체 매핑 &ndash;&gt;-->
<!--                    <collection property="itemImageList" ofType="springboot.shop.domain.ItemImage">-->
<!--                        <id property="itemImgId" column="item_img_id"/>-->
<!--                        <result property="paths" column="paths"/>-->
<!--                        <result property="imageName" column="image_name"/>-->
<!--                    </collection>-->
<!--                </association>-->
<!--            </collection>-->
<!--        </association>-->
<!--        <collection property="orderList" ofType="springboot.shop.domain.Order" fetchType="lazy">-->
<!--            <id property="orderId" column="orders_id"/>-->
<!--            <result property="date" column="date"/>-->
<!--            <result property="status" column="status" javaType="springboot.shop.domain.OrderStatus"/>-->
<!--            <collection property="orderItemList" ofType="springboot.shop.domain.OrderItem">-->
<!--                <id property="orderItemId" column="orders_item_id"/>-->
<!--                <result property="orderPrice" column="order_price"/>-->
<!--                <result property="count" column="count" />-->
<!--                &lt;!&ndash; Item 객체 매핑 &ndash;&gt;-->
<!--                <association property="item" javaType="springboot.shop.domain.Item">-->
<!--                    <id property="itemId" column="item_id"/>-->
<!--                    <result property="name" column="item_name"/>-->
<!--                    <result property="price" column="price"/>-->
<!--                    &lt;!&ndash; ItemImg 객체 매핑 &ndash;&gt;-->
<!--                    <collection property="itemImageList" ofType="springboot.shop.domain.ItemImage">-->
<!--                        <id property="itemImgId" column="item_img_id"/>-->
<!--                        <result property="paths" column="paths"/>-->
<!--                        <result property="imageName" column="image_name"/>-->
<!--                    </collection>-->
<!--                </association>-->
<!--            </collection>-->
<!--        </collection>-->
<!--    </resultMap>-->
</mapper>