<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot.shop.repository.mapper.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="memberId">
        insert into member(email, password, name, address, role)
        values (#{email}, #{password}, #{name}, #{address}, #{role})
    </insert>
    <select id="findById" resultType="Member">
        select member_id, email, password, name, address, role from member where member_id = #{id}
    </select>
    <select id="findByEmail" resultType="Member">
        select member_id, email, password, name, address, role from member where email = #{email}
    </select>
    <select id="findAll" resultType="Member">
        select member_id, email, password, name, address, role
        from member
        <where>
            <if test="keyword != null">
                and name like concat('%', #{keyword}, '%')
            </if>
            and role != 'ADMIN'
        </where>
        limit #{offset}, #{pageSize}
    </select>
    <update id="update">
        update member
        set email = #{email},
            password = #{password},
            name = #{name},
            address = #{address}
        where member_id = #{memberId}
    </update>
    <delete id="delete">
        delete from member where member_id = #{id}
    </delete>
    <select id="count" resultType="Integer">
        select count(*) from member where role != 'ADMIN'
    </select>
</mapper>