<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="/css/header.css" rel="stylesheet">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <th:block th:replace="~{fragment/header :: header(${member!=null ? member : null})}"></th:block>

    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-8 col-md-4">
                <img height="500" th:src="@{'/images/'+${item.itemImageList.get(0).imgName}}" class="img-fluid mb-3" />
            </div>
            <div class="col-8 col-md-4">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h2 th:text="${item.name}"></h2>
                        <h4 th:text="${item.price} + '원'"></h4>
                        <form method="post">
                            <div class="form-group mb-4">
                                <label for="count">구매 수량</label>
                                <input type="number" class="form-control" id="count" value="1" min="1" onchange="updateTotalPrice()"/>
                            </div>
                            <div>
                                <h4>구매 가격: <span id="totalPrice">0원</span></h4>
                                <input type="hidden" id="price" th:value="${item.price}" />
                                <input type="hidden" id="item-id" th:value="${item.itemId}" />
                            </div>
                            <button type="button" class="btn btn-primary mb-3" onclick="addOrder()">구매하기</button>
                            <button type="button" class="btn btn-primary mb-3" onclick="addCart()">장바구니</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <span>상품 설명</span>
                <hr class="my-3">
                <p th:text="${item.content}"></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 left-buttons d-flex justify-content-end">
                <button style="margin-right: 5px" class="btn btn-primary">글 수정</button>
                <button class="btn btn-danger" onclick="deleteConfirm()">글 삭제</button>
            </div>
        </div>
    </div>
</body>
</html>
<script th:inline="javascript">

    const header = document.querySelector('meta[name="_csrf_header"]').content;
    const token = document.querySelector('meta[name="_csrf"]').content;

    function addCart(){
        const header = document.querySelector('meta[name="_csrf_header"]').content;
        const token = document.querySelector('meta[name="_csrf"]').content;

        fetch("/carts/[[${item.itemId}]]",{
            method:"Post",
            headers: {
                "header": header,
                "Content-Type": "application/json",
                "X-CSRF-Token": token
            },
            body:JSON.stringify({
                memberId:[[${member.memberId}]],
                count:document.querySelector("#count").value
            })
        }).then(response=>{
            if(response.status==200){
                alert("성공했습니다.");
            } else {
                alert("실패했습니다.")
            }
        })
    }

    function updateTotalPrice() {
        let count = document.getElementById("count").value;
        let price = document.getElementById("price").value;
        let totalPrice = count * price;
        document.getElementById("totalPrice").innerHTML = totalPrice + "원";
    }

    window.onload = function() {
        // 페이지가 로딩되면 초기값으로 총 가격을 계산합니다.
        updateTotalPrice();
    }

    function addOrder(){
        let boxes = [];

        let itemId = document.querySelector("#item-id").value;
        let count = document.querySelector("#count").value;

        const item = {
            "itemId": itemId,
            "count": count
        };

        boxes.push(item);

        fetch(`/orders`,{
            method:"POST",
            headers: {
                "header": header,
                "Content-Type": "application/json",
                "X-CSRF-Token": token
            },
            body:JSON.stringify(boxes)
        }).then(response=>{
            if(response.status==200){
                alert("주문을 성공했습니다.");
                location.href="/orders";
            } else {
                alert("주문을 실패했습니다.")
            }
        })
    }

    function deleteConfirm(){
        let confirmFlag = confirm("상품을 삭제하시겠습니까?");
        if (confirmFlag) {
            deleteItem();
        } else {
        }
    }

    function deleteItem(){
        let itemId = document.querySelector("#item-id").value;

        fetch(`/items/${itemId}`,{
            method:"DELETE",
            headers: {
                "header": header,
                "Content-Type": "application/json",
                "X-CSRF-Token": token
            }
        }).then(response=>{
            if(response.status==200){
                alert("상품 삭제에 성공했습니다.");
                location.href="/";
            } else {
                alert("실패했습니다.")
            }
        })
    }
</script>